@font-face {font-family: 'Open Sans';src: url(OpenSans-Regular.ttf);}
* {  box-sizing: border-box; font-family: 'Open Sans'; scrollbar-width: thin; }

body {
  width: 450px;
  margin: 0;
  background-color: #3c3c3c;
  color: #fff;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(rgba(23, 27, 29, 0.822), rgba(18, 19, 20, 0.92)), url(covid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

nav {
  width: 100%;
  position:fixed;
  top:0;
  left: 0;
  background-color: #2b2929cb;
  text-align: center;
  backdrop-filter: blur(15px);
}

nav>div {width: 24.8%; padding: 10px; cursor: pointer; transition: all .25s;}
nav>div span { font-size: 10px !important; }

header {  padding: 10px; background:rgb(0 0 0 / 35%);}

#root {padding: 0 10px;  scrollbar-width: thin;}

#tab-stats{display: none;}

p {font-size: 12px;}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow-wrap: break-word;
  font-size: 9px;
  font-weight: 100;
  table-layout: fixed;
  scrollbar-width: thin;
}

li {
  flex: 1 1 16%;
  display: flex;
  justify-content: center;
  transition: transform .25s;
}

li:hover, img:hover {transform: scale(1.3);}

img {width: 60px; height: 30px; object-fit: cover; transition: transform .25s;}
span , small {font-size: 8px;}

label {font-size: 14px;}

button {
  width: 100%;
  margin: 10px 0;
  background-color: #2b29296e;
  color:#ffffff;
  padding: 7px;
  font-size: 10px !important;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all .25s;
  outline: none !important;
}

nav div:hover,button:hover { background-color: #ffffff1e; }

#btn-load-more {display: none;}

.w-100 {width: 100% !important;}

.d-flex {display: flex;}
.d-flex-col {display: flex; flex-direction: column;}
.d-flex-center {display: flex; justify-content: center; align-items: center;}

.justify-between {justify-content: space-between;}
.flex-start {align-items: flex-start;}

.txt-bleu{color: #00BCD4;}
.txt-muted {color:#9e9e9e;}
.txt-green {color:#8bc34a !important;}
.txt-red {color:#ff0e0e !important;}

.bg-bleu{background-color: #00BCD4 !important;}
.bg-red{background-color: #ff0e0e !important;}
.bg-dark-transp {background-color:#00000099 !important;}

.m-0 {margin: 0;}
.mb-0 {margin-bottom: 0;}

.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px !important;}
.mt-10 {margin-top: 10px !important;}

.mt-30 {margin-top: 35px;}
.mt-5 {margin-top: 5px;}
.mr-5 {margin-right: 5px;}
.ml-5 {margin-left: 5px;}

.py-1 {padding: 8px 0;}

.fs-22 {font-size: 22px !important;}

.border-bottom {border-bottom: 1px solid #4e4e4e1e;}

.box {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.truncate {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:inline-block;
  width:60px;
}

form {
  display: block;
  margin: auto;
  padding: 20px;
}

input {padding: 10px 7px}

.active-tab {background-color: #101213;}

.alert {
  display: none;
  background: #ff0e0e !important;
    padding: 5px 10px !important;
    font-size: 10px !important;
    width: 100% !important;
}

.li-bordred {    border: 1px solid #4a494ca3;
  padding: 7px;
  font-size: 14px !important;}
  .li-bordred,.li-bordred>*,.ct-chart {transform: none !important;}
  .li-bordred span {font-size: 10px !important;}

  .ct-series-a .ct-slice-pie {fill: #ffffff !important;}
  .ct-series-b .ct-slice-pie {fill: #ff0e0e !important;}

  .ct-label {   fill: rgb(255 255 255) !important;}

::-webkit-scrollbar {  width: 7px;}
::-webkit-scrollbar-track { background: #474141;}
::-webkit-scrollbar-thumb { background: #2b2929;}
::-webkit-scrollbar-thumb:hover { background: #236cff;}