.inline-list {
  width: 100%;
  min-height: 35px;
  font-size: 12px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

.inline-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  word-break: break-word;
  padding: 8px 0;
  cursor: pointer;
}

.hover > li:hover {background-color: rgba(255, 255, 255, 0.062);}

.inline-list li>div {
  width: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.inline-list li>div span {
  width: 100%;
  transition: transform .25s;
}

.inline-list li>div span:hover {
  transform: scale(1.2);
}

.inline-list li img {
  width: 70%;
}
