.inline-list {
  width: 100%;
  min-height: 47px;
  font-size: 12px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

.inline-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  word-break: break-word;
  padding: 8px 0;
}

.inline-list li>div {
  width: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inline-list li>div span {
  width: 100%;
}

.inline-list li img {
  width: 70%;
}


.select-country {
  position: relative;
}

.select-country button {
  display: none;
  width: 70%;
  top: 0;
  position: absolute;
  z-index: 9;
  padding: 7px;
  margin: 0;
  background: var(--light-dark);
  border: 0;
}

.select-country svg {margin: 0;}

.select-country:hover button {
  display: flex;
  justify-content: center;
  align-items: center;
}


.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}