:root {
  --dark:#444444;
  --light: #c2c2c2;
  --white: #ffffff;
  --black: #000;
  --blue: #5347ff;

  --red:#d91023;
  --yellow:#ffeb3b;
  --orange:#ff9800 ;
  --green:#00f108;
  --muted: #b6b6b6;

  --dark-beige:#4c4c4c;
  --hover: rgba(255, 255, 255, 0.055);
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: thin;
}

body {
  width: 440px;
  min-height: 250px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

#root {background-color: var(--black); }
.App {background-color: var(--white); color: var(--black); border-radius: 7px;}
#root,.App {height: 100%; width:100%;}

.container,
header {
  padding: 20px;
}

.content {
  max-height: 540px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

h3 {
  font-size: 22px;
}

p,
label {
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-select {
  position: relative;
}

.sort-select>svg{position: absolute; left: 5px; top: 35%;}

input {
  padding: 10px;
  width: 100%;
}

select {padding: 10px 20px;}

select,
input[type="search"] {
  border: 0;
  background-color: inherit;
  border-bottom: 1px solid var(--light);
  outline: none !important;
  border-radius: 7px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .6px;
  line-height: 24px;
  padding: 4px 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  outline: none !important;
  cursor: pointer;
  transition: all .25s;
}

svg {
  margin-right: 5px;
  transition: all .25s;
}

button:hover svg path,
button:hover {
  opacity: 0.8;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-start {
  align-items: flex-start !important;
}

.align-center {
  align-items: center !important;
}

.text-uppercase {text-transform: uppercase;}

.txt-left {
  text-align: left;
}

.txt-bleu {
  color: #00BCD4;
}

.txt-yellow {
  color: var(--yellow) !important;
}

.txt-muted {
  color: var(--muted) !important;
}


.txt-red {
  color: var(--red);
}

.txt-green {
  color: var(--green);
}

.txt-white {
  color: var(--white);
}

.bg-red {
  background-color: #da0000 !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-light-dark {
  background-color: var(--light);
}

.bg-bleu {
  background-color: var(--blue) !important;
  color: var(--white);
}

.bg-light-bleu {
  background-color: #5347ff6b !important;
  color: var(--white);
}

.bg-green {
  background-color: #0da000;
  color: var(--white);
}


.col-4>* {
  flex: 1 1 25%;
  height: 50px;
  border: 1px solid var(--muted);
  padding: 5px;
}

.col-3>* {
  width: 33.3%;
  cursor: pointer;
}

.col-3 li:hover {
  background-color: var(--hover);
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-75 {
  width: 75%;
}

.mxw-4 {
  max-height: 400px;
}

.m-0 {
  margin: 0;
}

.mb-0 {margin-bottom: 0;}

.mx-auto {
  margin: auto;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}

.py-10 {
  padding: 10px 0;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.active-tab {
  color: var(--dark) !important;
}

.active-tab > svg path {
  fill: var(--dark) !important;
}

img {
  object-fit: cover;
  transition: transform .25s;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 60px;
}

.overflow-hidden {
  overflow: hidden !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.font-bold {
  font-weight: 600;
}

.cr-default {
  cursor: default !important;
}

.blur {backdrop-filter: blur(3px);}

.br7 {border-radius: 7px;}

.disp-none {display: none; }
/***********************************************/
footer {
  align-items: center;
  padding: 5px 10px;  
}
footer p {font-size: 9px !important;}
/*****************************/
.tabs,
header {
  border-bottom: 1px solid var(--light);
}

.tabs li {
  color: var(--muted);
  font-weight: 600;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  font-size: 11px;
  border-right: 1px solid var(--light);
  transition: background-color .25s;
}

.tabs li svg path {fill: var(--muted);}

.tabs li:last-child {
  border-right: none;
}

.tabs li:hover,.tabs li:hover svg path {
  background-color: var(--hover);
}
/********************************/
.header-list {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  padding: 7px 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  border-radius: 4px;
  font-weight: 600;
}

.header-list div {
  width: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.header-list span {
  width: 100%;
  font-size: 10px !important;
}

/*****************************/

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}