:root {
  --dark: #101213;
  --light-dark: #2b2929cb;
  --white: #ffffff;
  --muted: #c4c4c4;
}

@font-face {
  font-family: 'Open Sans';
  src: url(assets/OpenSans-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  scrollbar-width: thin;
}

body {
  width: 470px;
  margin: 0;
  background-color: var(--dark);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(rgba(23, 27, 29, 0.822), rgba(18, 19, 20, 0.92)),
    url(assets/covid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

header {
  padding: 20px;
  background: rgb(0 0 0 / 35%);
}

.container {padding: 20px;}

.content {max-height: 550px; display: flex; flex-direction: column; overflow-y: auto; overflow-x: hidden;}

.apexcharts-menu { background: var(--dark); }
.apexcharts-menu div {font-size: 10px !important; width: 120px; text-align: left;}
.apexcharts-menu div:hover {background:var(--light-dark) !important;}

p, label {
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

canvas ,input,select {
  background: #272727 !important;
  color: #fff !important;
}

input {
  padding: 10px;
}

select {
  padding: 8.95px 10px;
}

select, input[type="search"] {
  border: 0;
  outline: none !important;
}

button {
    width: 100%;
    display: flex;
    justify-content:center;
    margin: 10px 0;
    background-color: #2b29296e;
    color: #ffffff;
    padding: 7px;
    font-size: 10px !important;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all .25s;
    outline: none !important;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {flex-wrap: wrap;}

.d-flex-col {display: flex; flex-direction: column; justify-content: center; align-items: center;}

.align-start {align-items: flex-start !important;}

.txt-bleu {color: #00BCD4;}

.txt-red {color: #ff5151;}
.bg-red {background-color: #da0000;}
.bg-dark { background-color: var(--dark);}
.bg-light-dark { background-color: var(--light-dark);}
.bg-bleu {background-color: #5347ff;}
.bg-green {background-color: #0da000;}

.bg-inherit:hover {background-color:  #5347ff; }

.col-3 li {
  width: 33.3%;
  cursor: pointer;
}

.col-3 li:hover, button:hover {
  background-color: var(--dark);
}

svg {
  margin-right: 5px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0 !important;
}

.p-10 {padding: 10px;}

.mt-10 {
  margin-top: 10px;
}

.mt-0 {
  margin-top: 0px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.p-20 {padding:20px;}
.py-10 {padding: 10px;}

.active-tab {
  background-color: var(--dark);
}

img {
  object-fit: cover;
  transition: transform .25s;
}

.truncate {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:inline-block;
  width:60px;
}

.overflow-hidden {overflow: hidden !important;}

.fs-14 {font-size: 14px !important;}
.fs-10 {font-size:10px !important;}
.fs-12 {font-size:12px !important;}

.col-5>* {
  flex:1 1 25%;
  height: 50px;
  border: 1px solid #ddd;
  padding: 5px;
}
/***********************************************/
.tabs li {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  transition: background-color .25s;
  font-size: 10px;
}

/********************************/
.header-list {
  width:100%;
  display: flex !important;
  justify-content: space-between;
  padding: 7px 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color:#272727;
  border-radius: 4px;
}

.header-list div {
  width: 20%;
  max-width: 20%;
  font-size: 10px;
}

.header-list span {
  width: 100%;
  font-size: 10px !important;
  transition: transform .25s;
}
.mr-2 {margin-right: 5px !important;}
/*****************************/
::-webkit-scrollbar {  width: 7px;}
::-webkit-scrollbar-track { background: #474141;}
::-webkit-scrollbar-thumb { background: #2b2929;}
::-webkit-scrollbar-thumb:hover { background: #236cff;}